@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40, end);
}

@keyframes fade {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 1; }
}

@keyframes progress {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
} 